.Navbar {
  background: linear-gradient(to right, #9ab5ea, #f7c8ef);
  padding: 5px;
  box-shadow: 0 4px 10px 0 rgba(101, 101, 101, 0.25);
  border-radius: 50px;
  width: 1000px;
  height: 65px;
  margin-left: 5px;
}

.outer {
  background: #ffffff;
  height: 150px;
  display: flex;
  align-items: center;
  gap: 3;
  justify-content: space-between;
}
.rect {
  margin: 12px;
}

.list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.list li {
  text-decoration: none;
  font-family: Outfit;
  color: black;
  font-weight: 700;
  font-size: 20px;
}

.list li:hover {
  border-bottom: 3px solid blue;
  text-decoration: none;
}
