body {
    background: linear-gradient(to right, #9ab5ea, #f7c8ef);
    background: linear-gradient(270deg, rgba(230, 143, 80, 0.1) 0%, rgba(10, 86, 241, 0.1) 100%);

}
main{
    max-width: 1180px;
  margin: auto;
}

@media screen and (max-width: 600px) {
    body {
       
        background: white; 
    }
}
