.main {
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding: 4px 30px;
 
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}

.main .tele {
  border-radius: 50%;
  border: none;
  
}

.left .btn .text{
  padding-left: 5px;
}

.left {
  background: #ffffff;
}

.left h2 {
  color: #0a56f1;
  font-family: Outfit;
  font-size: 35px;
  line-height: 50.4px;
  font-weight: 600;
}
.left p {
  color: #36454f;
  font-family: Outfit;
  font-size: 22px;
  line-height: 27.72px;
  font-weight: 500;
  margin-top: 2px;
}
.btn {
max-width: fit-content;
  border-radius: 50px;
  border: none;
  color: #ffffff;
  padding: 5px 15px;
  background-color: #e68f50;
  margin-top: 10px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  cursor: pointer;
  }
.btn .text {
  font-family: Outfit;
  color: #fff;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: .04688rem;
}
.mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mid p {
  color: #36454f;
  font-family: Outfit;
  font-size: 22px;
  font-weight: 600;
  text-align: left;
}
.mid button {
  border: 2px solid;
  color: #0a56f1;
  border-radius: 25px;
}

.mid_heading {
  font-family: Outfit;
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: center;
  color: #e68f50;
}
.section2 {
  margin: 5px;
  display: flex;
  flex-direction: column;
  gap: 2;
  justify-content: center;
  align-items: center;
}

.section2 h1 {
  font-family: Outfit;
  font-weight: 800;
  font-size: 40px;
  color: #e68f50;

  align-content: center;
  text-align: center;
  padding: 4px;
}

.section2 p {
  color: #36454f;
  text-align: center;
  font-size: 22px;
  align-content: center;
  line-height:27.72px;
letter-spacing:3%;
  font-family: Outfit;
  font-weight: 500;
}
.top_div {
  display: flex;
  justify-content: center;
}
.section_div {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  gap: 40px;
}
.left .coin{
  background: #e68f50;
  border: none;
}
.section_div div {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  justify-content: space-between;
  border: 2px solid #ffffff;
  background: linear-gradient(
      270deg,
      rgba(255, 255, 255, 0.075) 0%,
      rgba(10, 86, 241, 0.075) 100%
    ),
    linear-gradient(0deg, #ffffff, #ffffff);
  height: 120px;
  width: 25%;
  border-radius: 25px;
  color: #0a56f1;
  font-family: Outfit;
  font-size: 25px;
  font-weight: 600;

  text-align: center;

  box-shadow: 0px 4px 10px 0px #0a56f140;
}

.section_title {
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding: 4px;
  font-family: Outfit;
  color: #e68f50;
  text-align: center;
  font-weight: bold;
}

.section3 {
  background-color: #ffffff;
  border-radius: 8px;
}
.section_main {
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  border-radius: 8px;
}
.left {
  display: flex;
  flex-direction: column;
}

/* .left .btn{
  border: none;
  /* padding-left:  4px;
  padding-right: 4px; */

.mid .mid_button {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 0.4rem 0.6rem;
}
.mid_button button {
  padding: 4px 12px;
}

.left_section h2 {
  color: #0a56f1;
  font-family: Outfit;
  font-size: 28px;
  font-weight: 600;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: start;
}

.left_section p {
  color: #36454f;
  font-family: Outfit;
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.left_section {
  display: flex;
}

.left_section .pointer {
  margin-top: 10px;
  margin-left: 20px;
}

.right .MobileImage {
  height: 600px;
  width: 600px;
}


.section_div .image_div {
  width: 24%;
  height: 50%;
}

@media screen and (max-width: 600px) {
  .main {
    flex-direction: column-reverse;
  }

  .top_div {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  .section_main {
    flex-direction: column;
  }

  .right .MobileImage {
    height: 280px;
    width: 300px;
  }

  .mid p {
    font-size: 14px;
    text-align: center;
  }
  .main p {
    font-size: 16px;
    text-align: center;
  }

  .section_div {
    flex-direction: column;
    align-items: center;
  }

  .section_div div {
    width: 95%;
    height: auto;
    font-size: 20px;
  }

  .section_div .image_div {
    width: 20%;
    height: 10%;
  }

  .mid .mid_button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
  }

  .btn {
    max-width: fit-content;
    height: 60px;
    border-radius: 50px;
    color: #ffffff;
    background-color: #e68f50;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    margin: auto;
  }

  .section3 {
    background-color: #ffffff;
    border-radius: 8px;
    height: auto;
  }
  .nav {
    height: 10vh;
    background: #ffffff;
  }

  .main {
    margin-top: 0px;
  }

  .left {
    padding-left: 2px;
    padding-right: 10px;
    text-align: start;
  }

  .mid .mid_button {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 80%;
  }
  .mid_button button {
    padding: 8px 8px;
  }
  .mid p {
    font-size: 14px;
    text-align: center;
    text-wrap: wrap;
    width: 50%;
  }
}
