.main {
  background-color: #ffffff;
  border-radius: 5px;
  max-height: 85vh;
  display: flex;
  justify-content: space-between;
}

.right{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.main .tele {
  background-color: white;
  border-radius: 50%;
}

.left {
  padding-left: 10px;
  padding-right: 10px;
}
.left h2 {
  color: #0a56f1;
  font-family: Outfit;
  font-size: 35px;
  line-height: 50.4px;
  font-weight: 600;
}
.left p {
  color: #36454f;
  font-family: Outfit;
  font-size: 22px;
  line-height: 27.72px;
  font-weight: 500;
  margin-top: 2px;
}
.btn {
  max-width: fit-content;
  height: 60px;
  border-radius: 50px;
  color: #ffffff;
  background-color: #e68f50;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
}
.btn .text {
  color: #ffffff;
  font-family: Outfit;
  padding: 3px;
  font-weight: 500;
  font-size: 25px;
}
.mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mid p {
  color: #36454f;
  font-family: Outfit;
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;
}
.mid button {
  border: 2px solid;
  color: #0a56f1;
  height: 45px;
  top: 1008px;
  left: 87px;
  border-radius: 25px;
}

.mid_heading {
  font-family: Outfit;
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: center;
  color: #e68f50;
}
.section2 {
  margin: 5px;
  display: flex;
  flex-direction: column;
  gap: 2;
  justify-content: center;
  align-items: center;
}

.section2 h1 {
  font-family: Outfit;
  font-weight: 600;
  font-size: 40px;
  color: #e68f50;
  line-height: 50.4px;
  align-content: center;
  text-align: center;
  padding: 4px;
}

.section2 p {
  color: #36454f;
  text-align: center;
  font-family: Outfit;
  height: 60px;
}
.top_div {
  display: flex;
  justify-content: center;
}
.section_div {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  gap: 40px;
}

.section_div div {
  display: flex;
  align-items: center;
  padding: 16px;
  justify-content: space-between;
  border: 2px solid #ffffff;
  background: linear-gradient(
      270deg,
      rgba(255, 255, 255, 0.075) 0%,
      rgba(10, 86, 241, 0.075) 100%
    ),
    linear-gradient(0deg, #ffffff, #ffffff);
  height: 120px;
  width: 25%;
  border-radius: 25px;

  box-shadow: 0px 4px 10px 0px #0a56f140;
}

.section_title {
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding: 4px;
  font-family: Outfit;
  color: #e68f50;
  text-align: center;
  font-weight: bold;
}

.section3 {
  background-color: #ffffff;
  border-radius: 8px;
  height: 100vh;
}
.section_main {
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  border-radius: 8px;
}
.left {
  display: flex;
  flex-direction: column;
}

.mid .mid_button {
  display: flex;
  flex-wrap: wrap;
}
 .mid_button button{
  padding-top: 4px;
  padding-bottom: 4px;
 }

.left_section h2 {
  color: #0a56f1;
  font-family: Outfit;
  font-size: 28px;
  font-weight: 600;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: start;
}

.left_section p {
  color: #36454f;
  font-family: Outfit;
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.left_section {
  display: flex;
}

.left_section .pointer {
  margin-top: 10px;
  margin-left: 20px;
}

.right .MobileImage{
  height: 600px;
  width: 600px;
}

@media screen and (max-width: 600px) {
  .main {
    flex-direction: column-reverse;
  }

  .top_div {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  .section_main {
    flex-direction: column;
  }

  .main {
    width: 100vw;
  }

  .right .MobileImage{
    height: 280px;
    width: 300px;
  }

  .mid p {
    font-size: 14px;
    text-align: center;
  }
  .main p {
    font-size: 16px;
    text-align: center;
  }

  .section_div {
    flex-direction: column;
    align-items: center;
  }

  .section_div div {
    width: 95%
  }

  .mid .mid_button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:5px
  }

  .btn {
    max-width: fit-content;
    height: 60px;
    border-radius: 50px;
    color: #ffffff;
    background-color: #e68f50;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    margin: auto;
  }

  .section3 {
    background-color: #ffffff;
    border-radius: 8px;
    height: auto;
  }
}
